@font-face{
    font-family: 'Karla-Bold';
    src: url(/fonts/static/Karla-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Karla-Regular';
    src: url(/fonts/static/Karla-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Karla-Italic';
    src: url(/fonts/Karla-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'Karla-VarFonts';
    src: url(/fonts/Karla-VariableFont_wght.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}